/*************************************************************************
 * extra.css is part of ui-mockup
 * created on Tuesday, 3rd December 2019 18:19:50
 * github.com/univrsal/ui-mockup
 * Copyright 2019 univrsal (universailp@web.de)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 3 of the License.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *************************************************************************/
 @import url("colors.css");

.bright .cbx {
    background-color: var(--bright-control-gradient-bottom);
    background-image: var(--bright-control-gradient);
    box-shadow: var(--bright-control-inset);
}

.dark .cbx {
    background-color: var(--dark-control-gradient-bottom);
    background-image: var(--dark-control-gradient);
    box-shadow: var(--dark-control-inset);
}

.cbx {
    position: relative;
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    transition: all 0.15s ease;
}

.cbx svg {
    position: absolute;
    top: 3px;
    left: 3px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--theme-stroke);
    stroke-width: 2;
    stroke-dasharray: 17;
    stroke-dashoffset: 17;
    transform: translate3d(0, 0, 0);
}

.bright .rdo {
    background-color: var(--bright-control-gradient-bottom);
    background-image: var(--bright-control-gradient);
    box-shadow: var(--bright-control-inset);
}

.dark .rdo {
    background-color: var(--dark-control-gradient-bottom);
    background-image: var(--dark-control-gradient);
    box-shadow: var(--dark-control-inset);
}

.rdo {
    position: relative;
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    transition: all 0.15s ease;
}

.rdo:after {
    background: var(--theme-stroke);
}

.rdo:after {
    content: "";
    position: absolute;
    display: block;
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
}

.cbx + span,
.rdo + span {
    float: left;
    margin-left: 6px;
}

input[type="checkbox"],
input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.bright label {
    color: var(--bright-text);
}

.dark label {
    color: var(--dark-text);
}

label {
    display: inline-block;
    font-size: 11pt;
    cursor: pointer;
    font-family: "Arial", Times, serif;
    margin-right: 8px;
    transition: color var(--transition-time);
}

.bright input[type="radio"]:checked + .rdo {
    background-color: var(--bright-control-gradient-bottom);
    background: linear-gradient(var(--theme-accent), var(--theme-accent));
}

.dark input[type="radio"]:checked + .rdo {
    background-color: var(--dark-control-gradient-bottom);
    background: linear-gradient(var(--theme-accent), var(--theme-accent));
}

input[type="radio"]:checked + .rdo:after {
    opacity: 1;
    transform: scale(1);
    transition: all 0.25s ease;
}

.dark input[type="checkbox"]:checked + .cbx {
    background-color: var(--dark-control-gradient-bottom);
}

input[type="checkbox"]:checked + .cbx {
    background-image: linear-gradient(var(--theme-accent), var(--theme-accent));
}

input[type="checkbox"]:checked + .cbx svg {
    stroke-dashoffset: 0;
    transition: all 0.25s ease;
}

.tooltip {
    position: relative;
    display: inline-block;
    padding: 5px;;
}

/* unused */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #6c6d71;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}