/*************************************************************************
 * popup.css is part of ui-mockup
 * created on Saturday, 30th November 2019 18:51:00
 * github.com/univrsal/ui-mockup
 * Copyright 2019 univrsal (universailp@web.de)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 3 of the License.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *************************************************************************/
 
@import url("colors.css");

.blurred {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.modal-window {
    position: fixed;
    background-color: rgba(20, 20, 20, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.dark .modal-window>div {
    background: var(--dark-window-bg);
    border-color: var(--dark-window-border);
    background-image: var(--dark-window-gradient);
}

.bright .modal-window>div {
    background: var(--bright-window-bg);
    border-color: var(--bright-window-border);
    background-image: var(--bright-window-gradient);
}

.modal-window>div {
    border-radius: 6px;
    position: relative;
    margin: 10% auto;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    /* box-shadow: 0px 0px 9px 9px #b6b5b546; */
}
