/*************************************************************************
 * setup.css is part of ui-mockup
 * created on Tuesday, 3rd December 2019 18:19:50
 * github.com/univrsal/ui-mockup
 * Copyright 2019 univrsal (universailp@web.de)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 3 of the License.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *************************************************************************/

.setup {
    width: 600px;
    height: 540px;
    min-width: 300px;
    min-height: 300px;
}

.logo {
    width: 180px;
    float: left;
    pointer-events: none;
}

#makeGroupDialog > div{
    width: 400px;
    height: 400px;
}

#joinGroupDialog > div{
    width: 320px;
    height: 140px;
}

#serviceLoginDialog > div{
    width: 390px;
    height: 210px;
}

.horizontal-options {
    float: left;
    width: 100%;
}