.setup {
    width: 600px;
    height: 540px;
    min-width: 300px;
    min-height: 300px;
}

.logo {
    width: 180px;
    float: left;
    pointer-events: none;
}

#makeGroupDialog > div{
    width: 400px;
    height: 400px;
}

#joinGroupDialog > div{
    width: 320px;
    height: 320px;
}

#serviceLoginDialog > div{
    width: 390px;
    height: 210px;
}
