/*************************************************************************
 * window.css is part of ui-mockup
 * created on Saturday, 30th November 2019 16:11:26
 * github.com/univrsal/ui-mockup
 * Copyright 2019 univrsal (universailp@web.de)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, version 3 of the License.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *************************************************************************/

body {
    background-color: #464545;
}

body,
html {
    height: 105%;
    overflow: hidden;
    margin: -10px;
}

#bg-image {
    /* The image used */
    background-image: url("../img/night.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


/* True drop shadow for pngs */

.shadow {
    -webkit-filter: drop-shadow(0px 0px 5px #292828bb);
    filter: drop-shadow(0px 0px 5px #292828bb);
}

.windowframe {
    overflow: hidden;
    padding: 8px;
    border-radius: 6px;
    background: #393b3d;
    background-image: repeating-linear-gradient(#414446, #393b3d 4%, #393b3d 100%);
    border-style: solid;
    border-width: 1px;
    border-color: #6c6d7188 #6c6d7188 #51515588 #6c6d7188;
    box-shadow: 0px 0px 5px 5px #2928288f;
}

.dot-icon {
    width: 18px;
    height: 18px;
    margin-left: -23px;
}

.dot {
    height: 14px;
    width: 14px;
    background-color: #bbb;
    border-radius: 50%;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
}

.red {
    background-color: #fd5754;
    transition: background-color 0.5s;
}

#resize {
    width: 10px;
    height: 10px;
    background-color: transparent;
    float: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: nwse-resize;
    z-index: -1;
}

.red:hover {
    background-color: #ff8380;
    background-image: url("../img/x.svg");
    background-size: 14px;
}

.orange {
    background-color: #febb40;
    transition: background-color 0.5s;
}

.orange:hover {
    background-color: #ffcf78;
    background-image: url("../img/min.svg");
    background-size: 14px;
}

.green {
    background-color: #34c848;
    transition: background-color 0.5s;
}

.green:hover {
    background-color: #79e488;
    background-image: url("../img/max.svg");
    background-size: 14px;
}

.windowcontrols {
    float: left;
}

.titlebar {
    height: 20px;
}

.windowtitle {
    text-align: center;
}

.centerv, .tab-bar {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    position: absolute;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
}