p {
   margin: 0px; 
}

.label, .button {
    color: white;
    font-family: "Arial", Times, serif;
    font-size: 11pt;
}

.button {
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    background: #6c6d71;    
    cursor: pointer;
    border-style: solid none none none;
    border-color: #ffffff33 white black white;
    border-width: 1px;
}

.big {
    font-size: 24pt;
    font-weight: bold;
    margin: 5px;
}

.medium {
    font-size: 13pt;
}

.buttonbox {
    position: absolute;
    right:    0;
    bottom:   0;
    margin: 15px;
}
